audioop-lts==0.2.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pycparser==2.22
pytest==8.3.5
requests==2.32.3
srt==3.5.3
tqdm==4.67.1
urllib3==2.4.0
vosk==0.3.45
websockets==15.0.1
